* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
li {
  list-style: none;
}

h1,
input {
  margin: 0px;
}
.container {
  max-width: 50rem;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
